<html>

<head>

    <title>Lever | Careers </title>

    <meta name="description" content="Join us at Lever." />

    <link rel="stylesheet" href="index.css">

</head>

<body>

    <div class="content">
        <h2><a href="https://github.com/vuejs/vue">Vue</a> viewer for <a href="https://www.lever.co/">Lever</a></h2>
        <div id="jobs-list" v-cloak>
            <div class="spinner" v-if="isLoading">
                Loading...
            </div>

            <table>
                <tr class="filters" v-for="filterInfo in filtersList">
                    <td class="filter-name">{{ filterInfo.name }}</td>
                    <td class="filter-labels-container" v-for="filterOption in filterInfo.options">
                        <label class="filter-label">
                            <input type="checkbox" :id="filterInfo.name + filterOption"
                            :name="filterInfo.name" :value="filterOption"
                            v-model="setFilters[filterInfo.name + '<__>' + filterOption]"
                            >
                            {{filterOption}}
                            <!--label :for="filterInfo.name + filterOption">{{filterOption}}</label-->
                        </label>
                    </td>
                </tr>
            </table>

            <div class="team" v-for="team in filteredJobs">
                <div class="team-name">{{team.name}}</div>
                <div class="job" v-for="item in team.items">
                    <a class="apply-button" :href="item.hostedUrl">APPLY</a>
                    <a class="job-link" :href="item.hostedUrl">
                        <div class="job-title">{{ item.text }}</div>
                        <div class="job-categories">
                            {{ item.categories.location }} &middot; {{ item.categories.commitment }} &middot; {{ item.categories.team }}
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <script src="https://unpkg.com/vue"></script>

    <script defer src="index.js"></script>

</body>

</html>